<div id="footer" role="contentinfo">
        <div id="footer-inner">
                <div id="footer-custom" class="fr-view">
                        <div>
                                <style type="text/css">
                                        .logo-icon-caesars-sports:before {
                                                content: "\e900";
                                        }

                                        .logo-icon-caesars-palace:before {
                                                content: "\e901";
                                        }

                                        .logo-icon-total-rewards::before {
                                                content: "\e909";
                                        }

                                        .logo-icon-caesars-entertainment::before {
                                                content: "\e910";
                                        }

                                        .logo-icon-caesars-international::before {
                                                content: "\e911";
                                        }

                                        .logo-icon-ballys::before {
                                                content: "\e912";
                                        }

                                        .logo-icon-caesars::before {
                                                content: "\e913";
                                        }

                                        .logo-icon-cromwell::before {
                                                content: "\e914";
                                        }

                                        .logo-icon-flamingo::before {
                                                content: "\e915";
                                        }

                                        .logo-icon-harrahs::before {
                                                content: "\e916";
                                        }

                                        .logo-icon-harveys::before {
                                                content: "\e917";
                                        }

                                        .logo-icon-horseshoe::before {
                                                content: "\e918";
                                        }

                                        .logo-icon-linq::before {
                                                content: "\e919";
                                        }

                                        .logo-icon-nobu::before {
                                                content: "\e920";
                                        }

                                        .logo-icon-paris::before {
                                                content: "\e921";
                                        }

                                        .logo-icon-planet-hollywood::before {
                                                content: "\e922";
                                        }

                                        .logo-icon-rio::before {
                                                content: "\e923";
                                        }

                                        .logo-icon-roadhouse::before {
                                                content: "\e924";
                                        }

                                        .logo-icon-wsop::before {
                                                content: "\e925";
                                        }

                                        .CETPageFooterLogos {
                                                zoom: 1;
                                                text-align: left;
                                                padding-bottom: 0.625rem;
                                                padding-top: 0.625rem;
                                        }

                                        .CETPageFooterLogos:after,
                                        .CETPageFooterLogos:before {
                                                content: "";
                                                display: table;
                                        }

                                        .CETPageFooterLogos:after {
                                                clear: both;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos {
                                                max-width: 940px;
                                                margin: 0 auto;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos div {
                                                display: inline-block;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-totalrewards {
                                                padding-right: 0.75rem;
                                                vertical-align: -15px;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-core-brands,
                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-properties {
                                                line-height: 2.5rem;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-core-brands {
                                                border-left: 1px solid rgba(255, 255, 255, 0.2);
                                                border-right: 1px solid rgba(255, 255, 255, 0.2);
                                                width: 190px;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-properties {
                                                width: 520px;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo {
                                                display: inline-block;
                                                font-size: 0.875rem;
                                                padding: 0 0.75rem;
                                                -webkit-transition: all 0.3s ease 0;
                                                transition: all 0.3s ease 0;
                                                vertical-align: middle;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo.brand-logo-caesars {
                                                font-size: 0.6875rem;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo.brand-logo-harveys,
                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo.brand-logo-horseshoe,
                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo.brand-logo-nobu {
                                                font-size: 0.625rem;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-logo-tr &gt;

                                        img {
                                                display: block;
                                                margin: 0.3125rem auto;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-logo-tr &gt;

                                        p {
                                                width: 80px;
                                                text-align: center;
                                                font-size: 1rem;
                                                color: #fff;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-logo-tr &gt;
                                        p &gt;

                                        span {
                                                font-size: 0.5em;
                                                vertical-align: top;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile {
                                                display: none;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile .brand-logo-totalrewards-long {
                                                float: left;
                                                margin-top: 0.625rem;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile .brand-logo-caesars-long {
                                                float: right;
                                                margin-top: 5%;
                                                padding-right: 2%;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile a {
                                                width: 50%;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile a img {
                                                width: 100%;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .footer-hotel-logo-mobile a:first-child img {
                                                border-right: 1px solid #fff;
                                                padding-right: 10%;
                                        }

                                        .CETPageFooterLinks {
                                                zoom: 1;
                                                padding: 1rem 0;
                                                font-size: 0.75rem;
                                        }

                                        .CETPageFooterLinks:after,
                                        .CETPageFooterLinks:before {
                                                content: "";
                                                display: table;
                                        }

                                        .CETPageFooterLinks:after {
                                                clear: both;
                                        }

                                        .CETPageFooterLinks h4 {
                                                font-size: 1rem;
                                                text-transform: uppercase;
                                                font-weight: 700;
                                        }

                                        .CETPageFooterLinks a {
                                                color: #fff;
                                                text-decoration: none;
                                        }

                                        .CETPageFooterLinks .cet-footer-links::after {
                                                clear: both;
                                        }

                                        .CETPageFooterLinks .footer-hotel-address {
                                                float: left;
                                                text-align: center;
                                                padding: 0 0.3125rem;
                                                width: 20%;
                                        }

                                        .CETPageFooterLinks .footer-hotel-address a {
                                                text-decoration: underline;
                                        }

                                        .CETPageFooterLinks .footer-hotel-address .footer-logo img {
                                                max-width: 115px;
                                        }

                                        .CETPageFooterLinks .footer-links-section {
                                                float: left;
                                                width: 65%;
                                                padding: 0 0.625rem 0 10%;
                                        }

                                        .CETPageFooterLinks .footer-links-section .footer-columns {
                                                float: left;
                                                padding: 1.25rem 0.625rem 0 0;
                                        }

                                        .CETPageFooterLinks .footer-links-section .footer-columns[data-columnsections="2"] .footer-columns {
                                                width: 50%;
                                                min-width: 150px;
                                        }

                                        .CETPageFooterLinks .footer-links-section .footer-columns.link-columns {
                                                padding-left: 0;
                                        }

                                        .CETPageFooterLinks .footer-links-section .footer-columns ul li {
                                                line-height: 1.1em;
                                                margin-bottom: 0.6em;
                                        }

                                        .CETPageFooterLinks .social-links {
                                                width: 15%;
                                                float: left;
                                                margin: 0;
                                        }

                                        .CETPageFooterLinks .social-links i {
                                                font-size: 1.25rem;
                                                vertical-align: middle;
                                        }

                                        .CETPageFooterLinks .social-links .cet-links {
                                                padding-top: 1.25rem;
                                        }

                                        .CETPageFooterLinks .social-links .cet-links li {
                                                margin: 0.25rem 0;
                                        }

                                        .CETPageFooterLinks .social-links .cet-links li a {
                                                padding: 0.25rem 0;
                                        }

                                        .cet-screen-reader {
                                                position: absolute !important;
                                                clip: rect(0, 0, 0, 0);
                                                height: 1px;
                                                width: 1px;
                                                border: 0;
                                                overflow: hidden;
                                        }

                                        .cet-screen-reader:focus {
                                                clip: auto !important;
                                                height: auto;
                                                width: auto;
                                                display: block;
                                                font-size: 1em;
                                                font-weight: 700;
                                                padding: 1rem 1.5rem;
                                                color: #343840;
                                                background: #f1f1f6;
                                                z-index: 100000;
                                                text-decoration: none;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logo {
                                                display: inline-block;
                                                font-size: 0.875rem;
                                                padding: 0 0.75rem;
                                                -webkit-transition: all 0.3s ease 0;
                                                transition: all 0.3s ease 0;
                                                vertical-align: middle;
                                        }

                                        /* https://www.caesars.com/etc/designs/caesars/fonts/cet-icons/fonts/logo-icons.svg */

                                        @font-face {
                                                font-family: "logo-icons";
                                                /* src: url("https://caesarscorporatehub.com/download/theme/footer/logo_iconseot?attachment=1?");
                                                src: url("https://caesarscorporatehub.com/download/theme/footer/logo_iconseot?attachment=1") format("embedded-opentype"), url("https://caesarscorporatehub.com/download/theme/footer/logo_iconsttf") format("truetype"), url("https://caesarscorporatehub.com/download/theme/footer/logo_iconswoff?attachment=1") format("woff"), url("https://caesarscorporatehub.com/download/theme/footer/logo_iconssvg?attachment=1") format("svg"); */

                                                src: url("img/logo-icons.eot");
                                                src: url("logo-icons.eot?attachment=1") format("embedded-opentype"), url("img/logo-icons.ttf") format("truetype"), url("img/logo-icons.woff?attachment=1") format("woff"), url("img/logo-icons.svg?attachment=1") format("svg");

                                                font-weight: 400;
                                                font-style: normal;
                                        }

                                        [class^="logo-icon-"],
                                        [class*=" logo-icon-"] {
                                                font-family: "logo-icons" !important;
                                        }

                                        [class^="logo-icon-"],
                                        [class*=" logo-icon-"],
                                        [class^="tr-icon-"],
                                        [class*=" tr-icon-"],
                                        [class^="cet-icon-"],
                                        [class*=" cet-icon-"],
                                        [class^="corp-icon-"],
                                        [class*=" corp-icon-"] {
                                                speak: none;
                                                font-style: normal;
                                                font-weight: 400;
                                                font-variant: normal;
                                                text-transform: none;
                                                line-height: 1;
                                                -webkit-font-smoothing: antialiased;
                                                -moz-osx-font-smoothing: grayscale;
                                        }

                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-core-brands,
                                        .CETPageFooterLogos .cet-page-footer-hotel-logos .brand-logos-properties {
                                                line-height: 2.5rem;
                                        }
                                </style>
                                <div class="CETPageFooterLogos at-element-marker">
                                        <div class="cet-page-footer-hotel-logos">
                                                <div class="CETPageFooterLinks">
                                                        <div class="brand-logos-brands-properties"><a
                                                                        href="https://caesarscorporatehub.com/home/home_disclaimer">Terms
                                                                        and Conditions for Use of Company Intranet</a>
                                                        </div>
                                                        <p><br></p>
                                                        <div class="brand-logos-brands-properties"><img
                                                                        src="img/download.png?width=215"
                                                                        alt="download.png" class="fr-fic fr-dib"
                                                                        data-ig-embed-key="v4npyXpEvB"
                                                                        data-src="/.api2/binaries/v4npyXpEvB/thumbnails/download.png?width=215"
                                                                        style="width: 210px; display: inline; vertical-align: text-bottom; margin-right:10px;">
                                                                <div class="brand-logos-core-brands"><a
                                                                                class="brand-logo brand-logo-caesars logo-icon-caesars"
                                                                                href="https://www.caesars.com/caesars"
                                                                                title="Caesars Brand"><span
                                                                                        class="cet-screen-reader">Caesars
                                                                                        Brand</span></a><a
                                                                                class="brand-logo brand-logo-harrahs logo-icon-harrahs"
                                                                                href="https://www.caesars.com/harrahs"
                                                                                title="Harrah's Brand"><span
                                                                                        class="cet-screen-reader">Harrah's
                                                                                        Brand</span></a><a
                                                                                class="brand-logo brand-logo-horseshoe logo-icon-horseshoe"
                                                                                href="https://www.caesars.com/horseshoe"
                                                                                title="Horseshoe Brand"><span
                                                                                        class="cet-screen-reader">Horseshoe
                                                                                        Brand</span></a><a
                                                                                class="brand-logo brand-logo-wsop logo-icon-wsop"
                                                                                href="https://www.caesars.com/wsop"
                                                                                title="World Series of Poker"><span
                                                                                        class="cet-screen-reader">World
                                                                                        Series of Poker</span></a></div>
                                                                <div class="brand-logos-properties"><a
                                                                                class="brand-logo brand-logo-ballys logo-icon-ballys"
                                                                                href="https://www.caesars.com/ballys"
                                                                                title="Bally's"><span
                                                                                        class="cet-screen-reader">Bally's</span></a><a
                                                                                class="brand-logo brand-logo-cromwell logo-icon-cromwell"
                                                                                href="https://www.caesars.com/cromwell"
                                                                                title="The Cromwell"><span
                                                                                        class="cet-screen-reader">The
                                                                                        Cromwell</span></a><a
                                                                                class="brand-logo brand-logo-flamingo logo-icon-flamingo"
                                                                                href="https://www.caesars.com/flamingo-las-vegas"
                                                                                title="Flamingo"><span
                                                                                        class="cet-screen-reader">Flamingo</span></a><a
                                                                                class="brand-logo brand-logo-harveys logo-icon-harveys"
                                                                                href="https://www.caesars.com/harveys-tahoe"
                                                                                title="Harveys"><span
                                                                                        class="cet-screen-reader">Harveys</span></a><a
                                                                                class="brand-logo brand-logo-linq logo-icon-linq"
                                                                                href="https://www.caesars.com/linq"
                                                                                title="The Linq"><span
                                                                                        class="cet-screen-reader">The
                                                                                        Linq</span></a><a
                                                                                class="brand-logo brand-logo-nobu logo-icon-nobu"
                                                                                href="https://www.caesars.com/nobu-caesars-palace"
                                                                                title="Nobu"><span
                                                                                        class="cet-screen-reader">Nobu</span></a><a
                                                                                class="brand-logo brand-logo-paris logo-icon-paris"
                                                                                href="https://www.caesars.com/paris-las-vegas"
                                                                                title="Paris"><span
                                                                                        class="cet-screen-reader">Paris</span></a><a
                                                                                class="brand-logo brand-logo-planet-hollywood logo-icon-planet-hollywood"
                                                                                href="https://www.caesars.com/planet-hollywood"
                                                                                title="Planet Hollywood"><span
                                                                                        class="cet-screen-reader">Planet
                                                                                        Hollywood</span></a><a
                                                                                class="brand-logo brand-logo-rio logo-icon-rio"
                                                                                href="https://www.caesars.com/rio-las-vegas"
                                                                                title="Rio"><span
                                                                                        class="cet-screen-reader">Rio</span></a><a
                                                                                class="brand-logo brand-logo-roadhouse logo-icon-roadhouse"
                                                                                href="https://www.caesars.com/tunica-roadhouse"
                                                                                title="Tunica Roadhouse"><span
                                                                                        class="cet-screen-reader">Tunica
                                                                                        Roadhouse</span></a><a
                                                                                class="brand-logo brand-logo-total-rewards logo-icon-total-rewards"
                                                                                href="https://www.caesars.com/total-rewards"
                                                                                title="Total Rewards"><span
                                                                                        class="cet-screen-reader">Total
                                                                                        Rewards</span></a><a
                                                                                class="brand-logo brand-logo-caesars-international logo-icon-caesars-international"
                                                                                href="http://www.caesars.co.uk"
                                                                                rel="noopener" target="_blank"
                                                                                title="Caesars International"><span
                                                                                        class="cet-screen-reader">Caesars
                                                                                        International</span></a></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <hr>
                <!-- <div id="footer-system"><a title="Enterprise social software from Igloo" target="_blank" id="poweredby"
                                href="//igloosoftware.com/igloo_powered" rel="nofollow">Enterprise social software from
                                Igloo</a></div> -->
        </div>
</div>