<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ADP Registration</title>
  <% include ../partials/includes.ejs %>
</head>

<body>
  <div>
    <!-- <div id="userbar" class="userid_e311f6b9-8aba-427d-86b1-6534ae2e6c74"><button id="navigation-expand" type="button"
        class="button-userbar button-menu-toggle" aria-label="Expand Navigation">
    </div> -->
    <div id="header" class="ig-header-container header-left header-inline" role="banner">
      <div id="header-inner" class="header-inner ig-clearfix">
        <h1 id="logo" class="header-logo logo-img" style="text-align: unset;"><a href="/" title="Caesars Hub" style="margin-top:10px;">
            <img src="img/logo.png" alt="Registration"></a></h1>

      </div>
      <div id="content-head">
        <div id="object-head"><input type="hidden" id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff_en" value="Register"><input
            type="hidden" id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff_en_auto" value="false"><input type="hidden" id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff_el"
            value=""><input type="hidden" id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff_el_auto" value="false">
            <input id="source" name="source" type="hidden" value="EMPHRAPPS">
            <input id="siteID" name="siteID" type="hidden" value="CLV">
          <h1 class="ig-truncate"><span id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff" class="eip" style="font-size:unset;">Register</span></h1>
        </div>
      </div>
      <!-- <h1 class="ig-truncate"><span id="id_30969f8f-8334-407d-bd44-cbf5da0db3ff" class="eip" style="color: #fff !important; margin-left: 40px;font-size: 22pt;
        font-weight: 500;">REGISTER</span></h1> -->
    </div>


    <!-- Begin-->
    <div id="ig-page-view" class="ig-grid-960-16">
      <div class="ig-row-4 ig-clearfix equal-columns" data-ig-customclass="equal-columns">
        <div class="ig-row-wrap ig-clearfix">
          <div class="ig-row-pad ig-clearfix">
            <div class="ig-row-innerrow">
              <div class="ig-grid-p ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <h2 class="ig-cpt-title ig-clearfix ig-activePane" style="background-color: #eaeaea;color: #333333;border-color: #d4d4d4;border-top-left-radius: 0px;border-top-right-radius: 0px;">Employee Registration</h2>
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ig-grid-r ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div><br></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ig-grid-l ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div><br></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ig-row-4 ig-clearfix" data-ig-customclass="">
        <div class="ig-row-wrap ig-clearfix">
          <div class="ig-row-pad ig-clearfix">
            <div class="ig-row-innerrow">
              <div class="ig-grid-p ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div>
                                <style type="text/css">
                                  .error,
                                  .req {
                                    color: #c8000a;
                                    font-weight: bold;
                                  }

                                  .flag {
                                    display: inline !important;
                                    border-radius: 100%;
                                    height: 16px;
                                    margin: -3px 4px 0 0 !important;
                                    overflow: hidden;
                                    text-indent: -9999px;
                                    width: 16px;
                                    vertical-align: middle !important;
                                  }

                                  .custom-control-inline {
                                    display: inline-flex;
                                    margin-right: 1rem;
                                    padding-left: 1.5rem;
                                  }

                                  .employment {
                                    padding: 20px;
                                    margin: 10px 0 10px 0;
                                    background-color: #dddddd;
                                    border: 1px solid #666;
                                  }

                                  .custom-control-input {
                                    position: absolute !important;
                                    margin-top: .3rem !important;
                                    margin-left: -1.25rem !important;
                                  }

                                  #moreAccess {
                                    background-color: #dddddd;
                                    padding: 10px;
                                    margin: 10px 0px 10px 10px;
                                  }

                                  #moreAccess input {
                                    margin-right: 10px;
                                  }
                                </style>
                                <!-- BEGIN form -->
                                <form id="regForm">
                                    <div class="regForm">
                                      <div class="fb-text form-group field-text-lastname">
                                        <label class="fb-text-label" for="text-lastname" id="text-lastname-label">Last Name</label><span class="req">&nbsp;*</span>
                                        <input type="text" class="form-control noSpecialChar" name="text-lastname" id="text-lastname" required="required" value="">
                                      </div>
                                      <div class="fb-number form-group field-number-employeenumber">
                                        <label class="fb-number-label" for="number-employeenumber" id="text-employeenumber-label">Employee
                                          Number</label><span class="req">&nbsp;*</span>
                                        <input type="number" class="form-control" name="number-employeenumber" id="number-employeenumber" title="Your 800 number (or 100 if you're a contractor) must be 9 digits." required="required" value="">
                                      </div>
                                      <div class="fb-text form-group field-text-email">
                                        <label class="fb-text-label" for="text-email" id="text-email-label">Email</label><span class="req">&nbsp;*</span>
                                        <input type="email" class="form-control" name="text-email" id="text-email" required="required" value="">
                                      </div>
                                      <div class="fb-text form-group field-text-email">
                                        <label class="fb-text-label" for="text-confirmemail" id="text-confirmemail-label">Confirm Email</label><span class="req">&nbsp;*</span>
                                        <input type="email" class="form-control" name="text-confirmemail" id="text-confirmemail" required="required" value="">
                                      </div>
                                      <div class="fb-number form-group field-number-ss">
                                        <label class="fb-number-label" for="number-ss" id="number-ss-label">Last 4 of your Social Security
                                          Number</label><span class="req">&nbsp;*</span>
                                        <input type="number" class="form-control" name="number-ss" id="number-ss" title="Please enter the last 4 of your Social Security Number" value="">
                                      </div>
                                      <div class="fb-number form-group field-dob">
                                        <label class="fb-number-label" for="dob" id="text-dob-label">Date Of Birth</label><span class="req">&nbsp;*</span>
                                        <input class="form-control" name="dob" id="dob" title="Please enter your birthday" autocomplete="off" value="">
                                      </div>
                        
                                      <div>
                                        <br>
                                      </div>
                                      <div class="checkbox">
                                        <input name="checkbox-tos" id="checkbox-tos" value="option-1" type="checkbox" style="margin-left: 0px;" title="You must agree to the terms of service.">
                                        <label for="checkbox-tos" id="text-tos-label">I agree to the </label>
                                        <a class="tos" href="https://caesarscorporatehub.com/home/home_disclaimer" id="text-tos2-label">Terms
                                          of Service</a>
                                        <span class="req">*</span>
                                      </div>
                                    </div>
                                    <div class="fb-button form-group field-button-register">
                                      <button class="btn btn-primary" id="button-register" name="button-register" style="float:right;" type="submit">
                                          Register
                                        </button>
                                    </div>
                                  </form>
                                <!-- END form -->


                                <p><br></p>
                                <p><br></p>
                                <div class="submission"><br></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ig-grid-r ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div><br></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ig-grid-l ig-column">
                <div class="ig-box">
                  <div class="ig-cpt ig-widget-type-html fr-view transparent" style="background-color: #ffffff;border-color: #c3c3c3;border-width: 0px;border-radius: 0px;border-style: solid;">
                    <div class="ig-cpt-inner-1">
                      <div class="ig-cpt-inner-2">
                        <div class="ig-cpt-body" style="">
                          <div class="ig-widget-html editable" style="padding: 0px;">
                            <div class="ig-widget-html-content">
                              <div><br></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End-->



    

  </div>
  <% include ../partials/footer.ejs %>
</body>

</html>