<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div> -->

<div class="container">
  <!-- <nav class="">
    

    <a class="navbar-brand" href="#">
      <img src="images/caesars.png" width="320" height="157" alt="">
    </a>

  </nav> -->


  <h2 class="ml-5 mt-2 mb-4 text-center">Employee Registration</h2>

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



  <div class="row text-center">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
  <div class="col-md-12 text-center">

    <div id="start" class="col-md-4" style="display:none;">

      <button id="createAccount" name="createAccount" name="create-account" class="btn btn-primary">Create Account</button>
    </div>

    <div>
      <div class="alert alert-primary  col-md-4" role="alert" id="alerts" style="display:none;">
        This is a primary alert—check it out!
      </div>

      <div class="alert alert-danger col-md-4" role="alert" id="errors" style="display:none">
      </div>
    </div>

 


    <div id="frm">
      



      <form class="needs-validation" novalidate data-toggle="validator">
       
          <div class="form-group col-md-4">
            <label for="empNumber">800  number</label>
            <input type="text" class="form-control" id="empNumber" placeholder="800 number" required>
            <div class="invalid-feedback">
              Please enter the 800 number.
            </div>
          </div>

        <div class="form-group col-md-4">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
          <div class="invalid-feedback">
            Please enter the first name.
          </div>
          <!-- <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="First Name"> -->
          <!--<small id="firstNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group col-md-4">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
          <div class="invalid-feedback">
            Please enter the last name.
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="emalAddress">Email address</label>
          <input type="email" class="form-control" id="emalAddress" placeholder="Enter email" required>
          <div class="invalid-feedback">
            Please enter the email address
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="reenterEmalAddress">Re-enter Email address</label>
          <input type="email" class="form-control" id="reenterEmalAddress" placeholder="Enter email" required>
          <div class="invalid-feedback">
            Please re-enter the email address
          </div>
        </div>

        <div class="form-group col-md-4">
          <input type="checkbox" class="form-check-input" id="optIn" required>
          <label class="form-check-label" for="exampleCheck1">Opt In</label>
          <div class="invalid-feedback">
            Please Opt In
          </div>
          <div>I agree to Opt In for the Employee App. I understand that if I change departments or have another job at Caesars, I will be Opted in for all of those properties also.</div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary" id="createOkatAccount">Create Account</button>
          </div>
        </div>
        


      </form>

      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function ()
        {
          'use strict';
          window.addEventListener('load', function ()
          {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form)
            {
              form.addEventListener('submit', function (event)
              {
                if (form.checkValidity() === false)
                {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
    </div>

    
    
  </div>
</div>

</body>
</html>
